<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 固定到顶部</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true">主页</span></a></li>
                <li><a href="/Paper"><span class="glyphicon glyphicon-pencil" aria-hidden="true">考试列表</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true">我的考试</span></a></li>

            </ul>
        </div>
    </div>
</nav>


<img src="/images/b4.jpg" class="img-rounded">

</body>
</html>